<% content_for :head do %>
  <%= javascript_include_tag :defaults %>
<% end %>

<style>
li.handle {
  cursor: move;
  border: 1px dashed #ccc;
  list-style: none; 
  float: left; 
  display:inline;
  width: 140px;
  height: 140px;
  margin: 0 20px 20px 0;
  text-align: center;
}
li.handle .image {
	padding-top: 10px;
	display: block;
  	height: 70px;
}
</style>

<%= render :partial => 'admin/shared/product_sub_menu' %>

<h1><%= t('reorder') %></h1>
<h3><%= t('reorder_desc') %></h3><br>

	<ul id="item_list" class="clearfix">
	<% for product in @products %>
		<% content_tag_for(:li, product, :class=> 'handle') do %>
			<div class="image">
				<% if product.images.any? %>
					<%= image_tag(product.images.first.attachment.url(:mini)) %>
				<% else %>
					<%= image_tag('noimage/mini.jpg') %>
				<% end %>
			</div>
			<p><%= product.name %></p>
		<% end %>
	<% end %>	
	</ul>

<%= sortable_element("item_list", :url => { :action => :order_products, :id => product }, :handle => "handle", constraint: false, overlap:'horizontal', :axis => "'x,j'") %>
