<% content_for :head do %>
  <%= javascript_include_tag :defaults %>
<% end %>

<style>
li .handle {
  cursor: move;
  color: white;
  background-color: black;
  margin-right: 10px;
}
</style>

<%= render :partial => 'admin/shared/product_sub_menu' %>

<h1><%= t('reorder') %></h1>
<h3><%= t('reorder_desc') %></h3><br>
	<ul id="item_list">

	<% for product in @products %>
	<% content_tag_for(:li, product, :style => "list-style: none;") do %>
      <% if product.images.any? %>
			  <%= image_tag(product.images.first.attachment.url(:mini), :class => 'handle') %>
      <% else %>
			  <%= image_tag('noimage/mini.jpg', :class => 'handle') %>
      <% end %>
			<%= product.name %>
			<br /><br />
	  <% end %>
	<% end %>
	
	</ul>

<%= sortable_element("item_list", :url => { :action => :order_products, :id => product }, :handle => "handle") %>
